.button{
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 0.6rem 01rem;

    .text{
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 1px; 
        // width: 100px;
        // height: 50px;
        // padding: 0px 20px;
        padding: 0.5rem 1rem;
    }
  
}

.buttonIcon{
    display: inline-block;
    padding: 0.6rem 01rem;
    border-radius: 4px;
    cursor: pointer;

    .icon{
        font-weight: 500;
        // font-size: 1.6rem;
        letter-spacing: 1px;  
    }
}




.button .text::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(112, 75, 75, 0.281);
    transform: skew(25deg);

}

