.ads{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .left, .right{
      background: red;
      height: 24rem;
      width: 33%;
      overflow: hidden;
      position: relative;
      border-radius: 5px;
    .content{
        position: absolute;
        top: 5rem;
        width: 100%;
        text-align: center;
    }
  }
  .middel{
    height: 24rem;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .horigental{
      background-color: red;
      height: 47%;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      .content{
          position: absolute;
          top: 3rem;
          width: 100%;
          text-align: center;
      }

    }
  }
}