.sheader{
    border-bottom: 1px solid rgba(131, 131, 131, 0.712);
    display: flex;
    justify-content: space-between;
    line-height: 0;
    margin-top: 1.5rem;

    .left{
        border-bottom: 2px solid rgb(255, 242, 0);
    }

    .rightTime{

      .content{
        display: flex;
        margin-top: 2px;
        .tabs{
          display: flex;
          width: 100%;
          justify-content: space-between;
          p{
            padding: 8px 10px 0 10px;
            color: rgb(64, 64, 64);
            margin-block-end: 0;
            text-align: center;
            transition: 0.5s all;
            height: 100%;
          }
          p:hover{
            background: rgb(255, 205, 78);
            border-radius: 10px;
            cursor: pointer;
          }
          .active{
            height: 100%;
            border-bottom: 2px solid #000;
          }
        }
        h3{
            padding-right: 15px;
        }
        .time{
            background: rgb(208, 16, 16);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: 600;
            padding: 0 15px;
            border-radius: 5px;
            font-size: 1.2rem;

            span{
                font-size: 0.8rem;
                font-weight: 200;
            }
        }
      }
    }
}
.containerSlider{
   position: relative;
  .slider{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightButton{
    right: 0;
  }
  .leftButton, .rightButton{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(176, 176, 176, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #fff;
  }
  .leftButton:hover{
    background: rgb(250, 196, 21);
    cursor: pointer;
  }
  .rightButton:hover{
    background: rgb(250, 196, 21);
    cursor: pointer;
  }
}
